.intro h1{
	font-size: 3.5rem;
	font-family: "BentonSansComp", 'helvetica', 'arial';
	font-weight: bold;
	color: #000;
	padding:1rem;
	background-color: rgba(255,255,255, 0.8);
}
.img{
	max-width: 100%;
	/*max-height: 100%;*/
	overflow: hidden;
}
.intro p{
	color: #000;
	padding: 0.6rem;
	background-color: rgba(255,255,255, 0.8);
	vertical-align: middle;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	/*text-align:center;*/
	font-family: Georgia, Times, "Times New Roman";
	font-size: 1rem;
	padding: 2rem;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}
.intro > img{
	width: 50%
}
div.container-fluid{
	padding: 0;
}

#ratDressVideo {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	max-height: 830px;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('./imgs/widePlaceholder.png') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	overflow:hidden;
}
#section1, #section2{
	background-color: #000;
}
/*#slide1{*/
	/*background-image: url("./imgs/ratRoom2.png");*/
/*}*/
/*#slide2{*/
	/*background-image: url("./imgs/ratRoom3.png");*/
/*}*/

#audioPlay1,#audioPlay2,#audioPlay3,#audioPlay4,#audioPlay5 {
	cursor:pointer;
	width: 2rem;
	position: absolute;
}

#audioPlay1{
	top: 80%;
	left: 70%;
}
#audioPlay2{
	top: 30%;
	left: 20%;
}
#audioPlay3{
	top: 60%;
	left: 40%;
}
#audioPlay4{
	top: 60%;
	left: 40%;
}
#audioPlay5{
	top: 60%;
	left:65%
}
#ratSpeech{
	width: 80%;
}
/*#ratRoom{*/
	/*position: fixed;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*min-width: 100%;*/
	/*max-height: 758px;*/
	/*width: auto;*/
	/*height: auto;*/
	/*z-index: -100;*/
	/*transform: translateX(-50%) translateY(-50%);*/
	/*background: black;*/
	/*background-size: cover;*/
	/*transition: 1s opacity;*/
/*}*/
.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
}

.fullscreen-bg_video {
	position: absolute;
	top: 0;
	left: 24%;
	width: 100%;
	height: 100%;
}
.bgPic{
	position: absolute;
	width:50%;
	top:0;
	left:0;
}
.bgPic img{
	width: 100%;
}
#section0 .intro{
	position: absolute;
	bottom: 10%;
}
#section2 .intro p{
	color: white;
	background-color: rgba(0,0,0,.3);
}
.imgPart{
	width: 80%;
}
#bothRat{
	width: 100%;
	height: 100%;
}
.bgImg{
	position: absolute;
	left:0%;
	top:0%;
	z-index: -100;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bgImg img{
	width: 100%;
}

/*#section8{*/
	/*background-color: black;*/
/*}*/
.head{
	width:120px;
}
#section10{
	background-color: black;
	color:white;
}
.fullPic{
	width: 100%;
	overflow: hidden;
}

#section9 .intro p{
	margin-top: 20%;
}
#section10 .intro p{
	color:white;
	background-color: rgba(0,0,0,.3);
	position: absolute;
	top:10%;
}
#ratBeautiful{
	position: absolute;
	bottom: 0;
	left: 0;
	min-width: 100%;
	max-height: 830px;
	width: auto;
	height: auto;
	z-index: -100;
	/*transform: translateX(-50%) translateY(-50%);*/
	background: url('./imgs/widePlaceholder.png') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	overflow:hidden;
}
#section14{
	background-color: black;
}
#section14 .intro p{
	color:white;
	background-color: rgba(0,0,0,.3);
}
#shupeHead{
	width:120px;
	horiz-align: center;
}
#audiobtn{
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 100;
}
#extraInfo{
	position: absolute;
	width: 30%;
	background-color: rgba(255,255,255,0.9);
	z-index: 100;

}
.row{
	margin-bottom: 25px;
}
#shupeBackground{
	background-image: url("imgs/shupeBackground.jpg");
	background-position: top;
}
#shupe2{
	background-image: url("imgs/shupe2.jpg");
	background-position: top;
}
#shupeFlag{
	background-image: url("imgs/shupeFlag.jpg");
	background-position: top;
}
#ratMirror{
	background-image: url("./imgs/ratMirror.png");
}
#shupeDMVbg{
	background-image: url("./imgs/shupeDMVbg.jpg");
}
#shupePride{
	background-image: url("./imgs/shupePride.jpg");
	background-position: top;
}
/*#shupeMarried{*/
	/*background-image: url("./imgs/shupeMarried.png");*/
/*}*/
#nezumi{
	margin-left: 2rem;
	width: 120px;
}
@media only screen and (max-width: 800px){
	html, body{
		font-size: 80%
	}
}